@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("Home", Context.GetLink("index.html")),
        Tuple.Create("TestCentric Runner", Context.GetLink("/testcentric-runner/")),
        Tuple.Create("TC-Lite Framework", Context.GetLink("/tc-lite/")),
        Tuple.Create("Blog", Context.GetLink("blog")),
    };

    var current = Context.GetLink(Document);
    int active = 0;

    for (int i = 1; i < pages.Count; i++)
    {
        if (current.StartsWith(pages[i].Item2))
        {
            active = i;
        }
    }

    for(int i = 0; i < pages.Count; i++)
    {
        var p = pages[i];
        if (i == active)
        {
            <li class="active"><a href="@p.Item2">@Html.Raw(p.Item1)</a></li>
        }
        else
        {
            <li><a href="@p.Item2">@Html.Raw(p.Item1)</a></li>
        }
    }
}
